<!-- <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>
   -->
<!-- <div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
  </div> -->

<nav style="background-color:#57626f !important; padding: 15px" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="row" style="height:50px;">
    <div style="text-align: right; padding-right: 0; height: 100%; border-right: 1px solid #274170;" class="col-lg-1">
      <form style="margin:0;" class="navbar-brand">
        <div class="form-group">
          <label class="attachFile" for="exampleFormControlFile1"><i class="fa fa-paperclip fa-lg attachIcon"></i>
          </label>
          <input style="display:none" type="file" class="form-control-file" id="exampleFormControlFile1" />
        </div>
      </form>
    </div>
    <div class="col-lg-2" style="border-right:1px solid #274170">
      <div class="dropdown">
        <button class="btn btn-secondary dropDownButton" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <!-- <div></div> -->
          <div class="circle">
            <p style="margin:0;padding:9px;">HP</p>
          </div>
          <span style="margin:10px 0 0 5px">Dropdown button</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="empty"></div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="col-lg-8" style="border-right:1px solid #274170">
      <div class="row">
        <div class="col-lg-3">
          <div class="input-group input-header-container ">
            <i class="fa fa-search icon search-icon"></i>
            <input class="form-control" type="text" placeholder="Search" name="usrnm" />
            <!-- <img src="./../../../assets/img/chat.png"/> -->
          </div>
        </div>
        <div class="col-lg-1">
          <img src="./../../../assets/img/chat.png" style="margin-top:9px;" />
        </div>
      </div>
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn menu-button" data-toggle="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-pressed="false" href="#navbarToggleExternalContent" data-target="navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" autocomplete="off">
        <Span>usrName</Span>
        <i class="fa fa-bars menu-button-icon"></i></button>
    </div>

  </div>
</nav>

<div class="body">

  <div class="header-app" *ngIf="isCollapsed">
    <ul class="list-sidebar">
      <li class="sidebar-brand"><a href="#"> Start Bootstrap </a></li>
      <li><a href="#">Dashboard</a></li>
      
      <li><a href="#" style="color: cyan">----------------------------</a></li>
      <li><a href="#" style="color: cyan">----------------------------</a></li>
      <li> <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active"> <i class="fa fa-bar-chart-o"></i>
          <span class="fa fa-chevron-left pull-right submenu-icon"></span>
          <span class="nav-label">Graphs</span>
        </a>
        <ul class="sub-menu collapse sublist" id="products">
          <li class="active"><a href="#">CSS3 Animation</a></li>
          <li><a href="#">General</a></li>
          <li><a href="#">Buttons</a></li>
        </ul>
      </li>
      <li><a href="#">Shortcuts</a></li>
    </ul>
  </div>
  <div style="padding:30px;">
    <div class="row">
      <div class="col-lg-6" style="margin-top:76px;">
        <button type="button" class="btn btn-lg btn-block btn-1">
          <div style="display: flex;">
            <span class="span-1">7</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
        <button type="button" class="btn btn-lg btn-block btn-2">
          <div style="display: flex;">
            <span class="span-1">27</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
      </div>
      <div class="col-lg-6">
        <p style="margin-bottom:5px;">akjadjhs</p>
        <div class="dropdown show">
          <a class="btn dropdown-button dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            #eef6fb
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
          </div>
        </div>
        <button type="button" class="btn btn-lg btn-block btn-3">
          <div style="display: flex;">
            <span class="span-1">5</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
        <button type="button" class="btn btn-lg btn-block btn-4">
          <div style="display: flex;">
            <span class="span-1">177</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
      </div>
    </div>
    <div style="margin-top:20px;" class="row">
      <div class="col-md-6">
        <p class="para">dskjhsjfh</p>
      </div>
      <div class="col-md-6 row">
        <div class="col-md-6">
          <p class="para">sdjhfdsj</p>
        </div>
        <div class="col-md-6">
          <p style="text-align:right" class="para">hdkgyuas</p>
        </div>
      </div>
    </div>
    <div style="margin-top:20px;" class="row">
      <div class="col-md-8" style="text-align:right">
        <img src="./../../../assets/img/pic1.png" />
      </div>
      <div class="col-md-4" style="text-align:right">
        <img src="./../../../assets/img/pic2.png" />
      </div>
    </div>
  </div>

</div>