// .alert-primary {
//     color: #fff;
//     background-color: #cce5ff;
//     border-color: #b8daff;
// }
.navbar .bg-dark {
    background-color: #57626f !important;
}
.navbar .row{
    width: 100%;
}
.navar .attachDiv{
    text-align: right;
    padding-right: 0;
    height: 100%;
    border-right: 1px solid #274170;
}
.navbar .form-group{
    margin: 0;
}
.navbar .navbar-brand{
    font-size: 20px;
}
.navbar .attachFile{
    margin: 0;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    text-align: center;
    margin-right: 8px;
}
.navbar .attachFile .attachIcon{
    transform: rotate(100deg);
    color: #777;
}

.navbar .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .navbar .dropDownButton{
    background: transparent;
    border: none;
    font-size: 18px;
    display: flex;
  }

 .navbar .circle{
    height: 45px;
    width: 45px;
    background: #9bb1e3;
    color: #2e4a7e;
    border-radius: 50%;
    border: 2px solid #4dd6be;
    font-size: 17px;
    cursor: pointer;
    display: flex;
}
.navbar .dropdown-menu{
    // display: block;
    margin-left: 8px;
    background: #2e4a7e;
    border: 2px solid #5a8dfa;
}
.navbar .dropdown-menu::before{
    content: "";
    position: absolute;
    right: 50%;
    top: -15px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 15px solid #42a7f5;
}
.navbar .dropdown-menu .empty{
    position: absolute;
    top: -13px;
    width: 0;
    border-bottom: solid 13px #2e4a7e;
    border-right: solid 14px transparent;
    border-left: solid 14px transparent;
    right: 52%;
}


.navbar .dropdown-item{
    color:#fff;
    background: #2e4a7e;
}

.navbar .input-header-container{
    background: #57626f;
    margin-top: 10px;
}

.navbar .input-header-container .search-icon{
    height: 35px;
    width: 35px;
    font-size: 22px;
    background: #57626f;
    padding-left: 5px;
    color: #fff;
    padding-top: 9px;
}

.navbar .input-header-container .form-control{
    border: none;
    height: 40px;
    background: #57626f;
    color: #fff;
    font-size: 20px;
    width: 160px;
}
.navbar .input-header-container .form-control:focus{
    box-shadow:none;
}
.navbar .input-header-container .form-control::placeholder{
    color:#fff;
}