// .alert-primary {
//     color: #fff;
//     background-color: #cce5ff;
//     border-color: #b8daff;
// }
.progress{
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #25c3ef;
    border-radius: .25rem;
}
.navbar{
    background-color:#57626f !important; 
    padding: 15px;
}

.navbar .row{
    width: 100%;
    height: 50px;
}
.navbar .attachDiv{
    text-align: right; 
    padding-right: 0; 
    height: 100%; 
    border-right: 1px solid #274170;
}
.navbar .form-group{
    margin: 0;
}
.navbar .navbar-brand{
    font-size: 20px;
    margin:0;
}
.navbar .right-border{
    border-right:1px solid #274170;
}
.navbar .navbar-brand input{
    display:none;
}
.navbar .attachFile{
    margin: 0;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
}
.navbar .attachFile .attachIcon{
    transform: rotate(100deg);
    color: #777;
}
.navbar .drop-down-div{
    border-right:1px solid #274170;
    padding: 0;
}

.navbar .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .navbar .dropDownButton{
    background: transparent;
    border: none;
    font-size: 17px;
    display: flex;
  
}
.navbar .dropDownButton .circle p{
    margin:0;
    padding:8px;
}
  .navbar .dropDownButton span{
    margin:10px 0 0 5px;
  }
 .navbar .circle{
    height: 40px;
    width: 40px;
    background: #9bb1e3;
    color: #2e4a7e;
    border-radius: 50%;
    border: 2px solid #4dd6be;
    font-size: 17px;
    cursor: pointer;
    display: flex;
}
.navbar .dropdown-menu{
    // display: block;
    margin-left: 8px;
    background: #2e4a7e;
    border: 2px solid #5a8dfa;
}
.navbar .dropdown-menu::before{
    content: "";
    position: absolute;
    right: 50%;
    top: -15px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 15px solid #42a7f5;
}
.navbar .dropdown-menu .empty{
    position: absolute;
    top: -13px;
    width: 0;
    border-bottom: solid 13px #2e4a7e;
    border-right: solid 14px transparent;
    border-left: solid 14px transparent;
    right: 52%;
}

.menu-button{
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 0;
    padding-top: 8px;   
    color: #fff;
}
.menu-button:focus{
    box-shadow: none;
}
.menu-button-icon{
    margin-left: 15px;
    font-size: 30px;
}

.navbar .dropdown-item{
    color:#fff;
    background: #2e4a7e;
}

.navbar .search-div{
    padding:0;
    padding-left:8px;}

.navbar .input-header-container{
    background: #57626f;
    margin-top: 10px;
}

.navbar .input-header-container .search-icon{
    height: 35px;
    width: 35px;
    font-size: 22px;
    background: #57626f;
    color: #fff;
    padding-top: 9px;
}

.navbar .input-header-container .form-control{
    border: none;
    height: 40px;
    background: #57626f;
    color: #fff;
    font-size: 20px;
    width: 100px;
}
.navbar .input-header-container .form-control:focus{
    box-shadow:none;
}
.navbar .input-header-container .form-control::placeholder{
    color:#fff;
}
.navbar .msg-image{
    margin-top:9px;
}
.navbar .right-sidebar-btn{
    padding:0;
    text-align: right;
}
.body{
    height: calc(100vh - 80px);
    width: 100%;
}

.header-app {
    float: right;
    height: 100%;
    width: 15%;
    background-color: #45494c;
    color: black;
    overflow-x: hidden;
    transition: 0.5s;

}

.list-sidebar {
    list-style: none;
    text-align: right;
    padding-top: 45%;
    padding-right: 6%;
}
.body .header-app .list-sidebar .line{
    color: cyan
}
.body .main-body{
    padding:30px;
}
.body .main-body .left-col{
    margin-top:76px;
}

.body .main-body .inline-text-btn{
    display: flex;
}
.body .main-body .right-col{
   padding-right: 15px;
    padding-left: 15px;
}
.body .main-body .right-col .top-text{
    margin-bottom:5px;
}
.btn-1{
    background: #e95151;
    border: #e95151;
    font-size: 25px;
    color: #fff;
    
}

.btn-2{
    background: #d64c80;
    border: #d64c80;
    font-size: 25px;
    color: #fff;
}
.btn-3{
    background: #fa9e3a;
    border: #fa9e3a;
    font-size: 25px;
    color: #fff;
}
.btn-4{
    background: #a370df;
    border: #a370df;
    font-size: 25px;
    color: #fff;
}
.span-1{
    flex: 25;
    text-align: left;
    padding-left: 15px;
}
.span-2{
    flex: 50;
    text-align: left;
}

.dropdown-button{
    background: #eef5fa;
    border-bottom: 2px solid #a7e2f5;
    margin-bottom: 5px;
    border-radius: 0;
    padding: 8px 8px 8px 0px;
    min-width: 130px;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-toggle::before{
    display: inline-block;
    margin-left: -40px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

// .collapsing {
//     -webkit-transition-delay: 2s;
//     transition-delay: 2s;
//     visibility: hidden;
// }
// .collapse.show {
//     -webkit-transition-delay: 3s;
//     transition-delay: 3s;
//     visibility: visible;
// }

li > a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    &:hover {
        color: cyan

    }
}


.collapsed.active{ 
    display:block;
    color:#fff;
    border-left:0px solid #dedede;
    text-decoration:none
}

.body .main-body .row-margin{
    margin-top:20px;
}

.body .main-body .row-margin p{
    text-align: center;
    margin: 0;
    font-size: 18px;

}
.body .main-body .row-margin .right-align{
    text-align: right;
}

.sublist {
    text-decoration: none;
    list-style: none;
    padding-top: 5px;
    padding-right: 20px;
    list-style: none;

    &:hover {
        color: cyan
    }
    
}

.submenu-icon {
    position: relative;
    right: 75%;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 993px) and (max-width: 1199.98px) {  
     .dropDownButton{
        background: transparent;
        border: none;
        font-size: 10px;
        display: flex;
      }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }