<progressbar></progressbar>
<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="row">
    <div
      class="col-md-1 attachDiv"
    >
      <form  class="navbar-brand">
        <div class="form-group">
          <label class="attachFile" for="exampleFormControlFile1"
            ><i class="fa fa-paperclip fa-lg attachIcon"></i>
          </label>
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
        </div>
      </form>
    </div>
    <div class="col-md-2 drop-down-div" >
      <div class="dropdown">
        <button
          class="btn btn-secondary dropDownButton"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <!-- <div></div> -->
          <div class="circle">
            <p >HP</p>
          </div>
          <span>Dropdown button</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="empty"></div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="col-md-8 right-border" >
      <div class="row">
        <div class="col-md-3 search-div" >
          <div class="input-group input-header-container ">
            <i class="fa fa-search icon search-icon"></i>
            <input
              class="form-control"
              type="text"
              placeholder="Search"
              name="usrnm"
            />
            <!-- <img src="./../../../assets/img/chat.png"/> -->
          </div>
        </div>
        <div class="col-md-1">
          <img src="./../../../assets/img/chat.png" class="msg-image" />
        </div>
      </div>
    </div>
    <div class="col-md-1 right-sidebar-btn">
      <button
        type="button"
        class="btn menu-button"
        data-toggle="button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-pressed="false"
        href="#navbarToggleExternalContent"
        data-target="navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        autocomplete="off"
      >
        <Span>usrName</Span>
        <i class="fa fa-bars menu-button-icon"></i>
      </button>
    </div>
  </div>
</nav>

<div class="body">
  <div class="header-app" *ngIf="isCollapsed">
    <ul class="list-sidebar">
      <li class="sidebar-brand"><a > Start Bootstrap </a></li>
      <li><a >Dashboard</a></li>

      <li><a class="line">------------------------</a></li>
      <li><a class="line">------------------------</a></li>
      <li>
        <a
          data-toggle="collapse"
          data-target="#products"
          class="collapsed active"
        >
          <i class="fa fa-bar-chart-o"></i>
          <span class="fa fa-chevron-left pull-right submenu-icon"></span>
          <span class="nav-label">Graphs</span>
        </a>
        <ul class="sub-menu collapse sublist" id="products">
          <li class="active"><a >CSS3 Animation</a></li>
          <li><a >General</a></li>
          <li><a >Buttons</a></li>
        </ul>
      </li>
      <li><a>Shortcuts</a></li>
    </ul>
  </div>
  <div class="main-body">
    <div class="row">
      <div class="col-lg-6 left-col">
        <button type="button" class="btn btn-lg btn-block btn-1">
          <div class="inline-text-btn">
            <span class="span-1">7</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
        <button type="button" class="btn btn-lg btn-block btn-2">
          <div class="inline-text-btn">
            <span class="span-1">27</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
      </div>
      <div class="col-lg-6 right-col">
        <p class="top-text">akjadjhs</p>
        <div class="dropdown show">
          <a
            class="btn dropdown-button dropdown-toggle"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            #eef6fb
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
          </div>
        </div>
        <button type="button" class="btn btn-lg btn-block btn-3">
          <div class="inline-text-btn">
            <span class="span-1">5</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
        <button type="button" class="btn btn-lg btn-block btn-4">
          <div class="inline-text-btn">
            <span class="span-1">177</span>
            <span class="span-2">kjhdkfakj</span>
          </div>
        </button>
      </div>
    </div>
    <div  class="row row-margin">
      <div class="col-md-6">
        <p >111111</p>
      </div>
      <div class="col-md-3">
        <p >222222</p>
      </div>

      <div class="col-md-3 ">
        <p class="right-align">33333</p>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-md-8 right-align">
        <img src="./../../../assets/img/pic1.png" />
      </div>
      <div class="col-md-4 right-align">
        <img src="./../../../assets/img/pic2.png" />
      </div>
    </div>
  </div>
</div>
