
.progress{
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #fff;
    border-radius: .25rem;
}
.progress-bar{
    background-color: #25c3ef;

}