.header-app {
    float: right;
    height: 100vh;
    width: 15%;
    background-color: #45494c;
    color: black;
}

.list-sidebar {
    list-style: none;
    text-align: right;
    padding-top: 45%;
    padding-right: 6%;
}